body {
  background-color: darkslategray;
}

/* both bc otherwise there was a white margin around it */
.card-body,
.card {
  background-color: grey;
}
#profile-pic {
  max-width: 200px;
  max-height: 200px;
  margin: 10px;
  text-align: center;
/* ****why does this work to keep the picture inside the card at XS windows width? */
  width: 80%;
}

/* ***************Why isn't this centering? What EXACTLY does margin 0 auto do? */
#email-me-button {
  text-align: center;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: auto;
  padding-right: auto;
  color: yellow;
}

#test-button:active {
  height: 200px;
  width: 400px;
}
#front-page-links{
    margin-top: auto;
    margin-bottom: auto;
}
.link-button {
  width: 500px;
  height: 75px;
  margin: 20px;
  text-align: center;
  vertical-align: middle;
  font-size: 32px;
  color: yellow;
}
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
